<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            height: 100vh;
            background-image: url('/template/image/page_not_found.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        a{
            text-decoration: none;
            color: white;

        }

        button{
            background-color: orange;
            border: none;
            border-radius: 5px;
            font-size: 20px;
            font-weight: 600;
            padding: 20px 50px;
            color: white;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
    <button><a href="/">Go To Home Page</a></button>
</body>
</html>