<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIEWER | VOTE GAME</title>
    <link rel="stylesheet" href="/template/css/viewer.css">
</head>
<body>
    <div class="loading">
        <img src="/template/image/vote.png" alt="">
        <p>VIEWER | VOTE GAME</p>
    </div>
    <div class="container">
        <div class="header">
            <div class="header_infor">
                <div id="exam_title">
                    <h1></h1>
                    <h3>Chưa Có Cuộc Thi Nào Đang Diễn Ra</h3>
                </div>
            </div>
        </div>
        <div class="content">
            
            <div class="current_exam" id="have_current_candidate">
                <h4>PHẦN THI</h4>
                <div class="infor_candidate">
                    <div id="candidate_avatar">
                        <img src="/template/image/default-150x150.png" alt="">
                    </div>
                    <div id="candidate_infor">
                        <h3>Candidate Fullname</h3>
                        <p>Candidate Exam Title</p>
                    </div>
                </div>
            </div>

            <div class="current_exam" id="not_have_current_candidate">
                <h4>PHẦN THI</h4>
                <div class="infor_candidate">
                    <div id="candidate_infor">
                        <h3>Không có phần thi nào đang diễn ra</h3>
                    </div>
                </div>
            </div>

            <div class="viewer_vote">
                <h3>Vote Cho Phần Thi</h3>
                <div class="vote" id="vote_btn">
                    <img width="120px" src="/template/image/vote.png" alt="">
                </div>
                <div class="vote-disable">
                    <h4>Cảm ơn bạn đã bình chọn thí sinh này</h4>
                </div>
            </div>
        </div>
        <div class="content_vote_list">
            <div class="list_vote_candidate">
                <div class="header_list_vote_candidate">
                    <h3>Danh Sách Bình Chọn</h3>
                </div>
                <div class="body_list_vote_candidate">
                    <div class="item_list_vote_candidate">
                        <div class="infor_component_list_vote_candidate">
                            <img src="/template/dist/img/avatar2.png" alt="" class="avatar_list_vote_candidate">
                            <div class="infor_list_vote_candidate">
                                <h3 class="fullname_list_vote_candidate">Nguyen Quoc Hung</h3>
                                <p class="title_list_vote_candidate">jnkhashdg asjkdhkajs ạkdhasjk</p>
                            </div>
                        </div>
                        <input type="checkbox" class="checkbox_list_vote_candidate">
                    </div>
                    <div class="item_list_vote_candidate">
                        <div class="infor_component_list_vote_candidate">
                            <img src="/template/dist/img/avatar2.png" alt="" class="avatar_list_vote_candidate">
                            <div class="infor_list_vote_candidate">
                                <h3 class="fullname_list_vote_candidate">Nguyen Quoc Hung</h3>
                                <p class="title_list_vote_candidate">jnkhashdg asjkdhkajs ạkdhasjk</p>
                            </div>
                        </div>
                        <input type="checkbox" class="checkbox_list_vote_candidate">
                    </div>
                    <div class="item_list_vote_candidate">
                        <div class="infor_component_list_vote_candidate">
                            <img src="/template/dist/img/avatar2.png" alt="" class="avatar_list_vote_candidate">
                            <div class="infor_list_vote_candidate">
                                <h3 class="fullname_list_vote_candidate">Nguyen Quoc Hung</h3>
                                <p class="title_list_vote_candidate"></p>
                            </div>
                        </div>
                        <input type="checkbox" class="checkbox_list_vote_candidate">
                    </div>
                    <div class="item_list_vote_candidate">
                        <div class="infor_component_list_vote_candidate">
                            <img src="/template/dist/img/avatar2.png" alt="" class="avatar_list_vote_candidate">
                            <div class="infor_list_vote_candidate">
                                <h3 class="fullname_list_vote_candidate">Nguyen Quoc Hung</h3>
                                <p class="title_list_vote_candidate">jnkhashdg asjkdhkajs ạkdhasjk</p>
                            </div>
                        </div>
                        <input type="checkbox" class="checkbox_list_vote_candidate">
                    </div>
                    <div class="item_list_vote_candidate">
                        <div class="infor_component_list_vote_candidate">
                            <img src="/template/dist/img/avatar2.png" alt="" class="avatar_list_vote_candidate">
                            <div class="infor_list_vote_candidate">
                                <h3 class="fullname_list_vote_candidate">Nguyen Quoc Hung</h3>
                                <p class="title_list_vote_candidate">jnkhashdg asjkdhkajs ạkdhasjk</p>
                            </div>
                        </div>
                        <input type="checkbox" class="checkbox_list_vote_candidate">
                    </div>
                    
                </div>
            </div>
            <button id="vote_list">Bình Chọn</button>
        </div>
    </div>
    <!-- jQuery -->
<script src="/template/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/template/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="/template/js/viewer.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->

</body>
</html>
