<div id="tab_bar">
    <div class="menu">
         <div class="close_field" >
             <p></p>
             <button id="close_button"><<<</button>
         </div>
         <div class="break_line"></div>

         <label id="upload_label" for="input_background">
             <img src="template/image/img_upload_icon.png" alt="">
             Choose image background
         </label>
         <input id="input_background" name="input_background" type="file" hidden >
         
         <button id="set_background">SET BACKGROUND</button>
         <button class="go_to_home"><a href="/">Game Zone</a></button>
    </div>
</div>