@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&family=Poppins:wght@400;500;600;700;900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #053f5c;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


body{
    overflow: hidden;
}

.loading{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loading >img{
    width: 80px;
    height: 80px;
}

.loading > p{
   font-size: 10;
   font-weight: 800;
   margin-top: 10px;
}


.container{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}


.header{
    padding: 0px 5px;
    display: flex;
    /* background-color: rgb(240, 240, 240); */
    background-color: #f7ad19;
    align-items: center;
    justify-content: space-between;
    border-radius: 0px 0px 25px 25px;
    flex-direction: column;

}

.header_infor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{
    width: 60px;
    height: 60px;
}
.avatar > img{
    width: 60px;
    height: 60px;
    border: 2px solid white;
    border-radius: 100px;
}
.infor_examiner{
    margin-left: 10px;
}

.logout > img{
    width: 20px;
    height: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#exam_title >h1{
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
}
#exam_title >h3{
    text-transform: uppercase;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

#have_current_candidate{
    display: none;
}

.current_exam{
    margin-top: 40px;
    width: 100%;
    max-width: 350px;
    background-color: #f7ad19;
    /* background-color: rgb(240, 240, 240); */
    padding: 0px 5px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_exam > h4{
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
}
.infor_candidate{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
}

#candidate_avatar >img{
    width: 100px;
    height: 100px;
    border: 3px solid white;
    border-radius: 100px;
}

#candidate_infor{
    z-index: 0 ;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}


.viewer_vote{
    width: 100%;
    background-color: #f7ad19;
    position: absolute;
    bottom: 0;
    border-radius: 30px 30px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewer_vote > h3{
    text-transform: uppercase;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid white;
}

.vote{
    margin-top: 20px;
    margin-bottom: 30px;
}

.vote-disable{
    margin-top: 20px;
    margin-bottom: 50px;
    display: none;

}

.togle_caculator{
    border: none;
    background-color: transparent;
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
}

#up_caculator_button{
    display: none ;
}


.content_vote_list{
    height: 85%;
    flex-direction: column;
    align-items: center;
    display: none;
    /* width: 100%; */
}
.list_vote_candidate{
    margin: 20px;
    width: 90%;
    height: 75vh;
    background-color: #053f5c;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #f7ad19; */
    border-radius: 8px;
}

.header_list_vote_candidate{
    padding: 10px;
    text-transform: uppercase;
    background-color: #f7ad19;
    width: 100%;
    text-align: center;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}

.body_list_vote_candidate{
    overflow-y: scroll;
}

.item_list_vote_candidate{
    background-color: white;
    display: flex;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    justify-content: space-between;
}

.infor_component_list_vote_candidate{
    display: flex;
    align-items: center;
}

.avatar_list_vote_candidate{
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 100px;
    border: 2px solid #053f5c;
}

.checkbox_list_vote_candidate{
   width: 20px;
   margin-left: 10px;
}

#vote_list{
    font-size: 20px;
    background-color: #f7ad19;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 10px;
    width: 90%;
    border: none;
    border-radius: 5px;
}




@keyframes fade-out {
    from {
      opacity: 1;
      top: 0;
    }
    to {
        opacity: 0;
        top: -50%;
    }
  }

@keyframes fade-down {
    from {
      opacity: 1;
      height: 100%;
    }
    to {
      opacity: 0;
      height: 0;
    }
  }